:root {
  --primary-bg-color: #f0f0f0;
  --primary-text-color: #333;
  --secondary-text-color: #666;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 200px;
}

.arrow {
  position: absolute;
  right: -10px;
  top: 50%; 
  transform: translateY(-50%); 
  color: var(--secondary-text-color);
}

.search-input-field {
  width: 100%;
  padding: 10px; 
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-bg-color);
  border-radius: 4px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown img {
  width: 25px; 
  margin-right: 10px;
}
